@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: @apply bg-black;
}
